#Card {
  width: 413px;
  height: 447px;
  border-radius: 12px;
}

#Card #img {
  width: 411px;
  height: 316px;
  border-radius: 12px;
}

#Card h1 {
  width: auto;
  height: 33px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
  margin: 0;
}

#info {
  width: 411px;
  height: 115px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}

#top {
  width: 100%;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#top #days {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.75);
}

#top #price {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #fe8c00;
}

#bottom {
  width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

#bottom span {
  width: auto;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #7a7a7a;
}

#bottom span img {
  width: 24px;
  height: 24px;
}

#bottom button {
  width: 98px;
  height: 34px;
  background: #fe8c00;
  border-radius: 6px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
}

#bottom button:hover {
  box-shadow: 0px 0px 4px rgba(254, 140, 0, 1);
}

@media screen and (min-width: 1001px) and (max-width: 1500px) {
  #Card {
    width: 320px;
    height: 400px;
  }

  #Card #img {
    width: 100%;
    height: 247px;
  }

  #info {
    width: 100%;
  }

  #Card h1 {
    font-size: 20px;
  }
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
  #Card {
    width: 300px;
    height: auto;
  }

  #Card #img {
    width: 100%;
    height: 230px;
  }

  #info {
    width: 100%;
    height: 160px;
  }

  #Card h1 {
    font-size: 21px;
  }

  #top {
    margin: 0;
  }

  #top #days {
    font-size: 17px;
  }

  #top #price {
    font-size: 17px;
  }

  #bottom {
    margin: 5px 0 0 0;
  }

  #bottom span {
    font-size: 14px;
  }
}

@media screen and (min-width: 361px) and (max-width: 500px) {
  #Card {
    width: 300px;
    height: auto;
  }

  #Card #img {
    width: 100%;
    height: 230px;
  }

  #info {
    width: 100%;
    height: 160px;
  }

  #Card h1 {
    font-size: 21px;
  }

  #top {
    margin: 0;
  }

  #top #days {
    font-size: 17px;
  }

  #top #price {
    font-size: 17px;
  }

  #bottom {
    margin: 5px 0 0 0;
  }

  #bottom span {
    font-size: 14px;
  }
}
