#Testimonial {
  width: 1320px;
  height: 689px;
  margin: 72px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Testimonial h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #fe8c00;
  margin: 32px 0 0 0;
}

#Testimonial h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #000000;
  margin: 40px 0 24px 0;
}

#Testimonial p {
  width: 468px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  margin: 0 0 40px 0;
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
  #Testimonial {
    width: 1000px;
  }
}

@media screen and (min-width: 700px) and (max-width: 999px) {
  #Testimonial {
    width: 100%;
  }

  #Cards3 {
    display: none;
  }
}

