@media screen and (min-width: 1001px) {
  #ContainerMenu {
    display: none;
  }
}

#ContainerMenu{
  width: 100%;
  height: 100%;
  position: fixed;
}

.MenuResponsive {
  width: 100%;
  overflow: hidden;
  background-color: whitesmoke;
  position: relative;
  z-index: 10;

}

.MenuResponsive #ContainerLinks {
  display: none;
}

.MenuResponsive .responsive {
  padding: 14px 16px;
}

.MenuResponsive a {
  color: #fe8c00;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.MenuResponsive .icon {
  background: transparent;
  border: none;
  color: #232323;
  font-size: 25px;
  display: block;
  position: absolute;
  right: 5px;
  top: 10px;
}

#ContainerLinks a:hover {
  background: #fe8c00;
  transition: 0.2s ease;
  color: white;
}

.responsive {
  background-color: #ffffff;
  color: white;
}
