#Box {
  width: 1280px;
  height: 392px;
  background: #fe8c00;
  margin-top: 32px;
  margin-bottom: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

#Box h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  margin: 0;
  width: 790px;
  height: 116px;
}

#Box p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

#Box button {
  width: 138px;
  height: 48px;
  background: white;
  border: 1px solid white;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fe8c00;
}

#Box button:hover {
  border: 1px solid white;
  background: transparent;
  color: white;
  transition: ease-in 0.2s;
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
  #Box {
    width: 1000px;
  }
}

@media screen and (min-width: 700px) and (max-width: 999px) {
  #Box {
    width: 88.88%;
  }

  #Box h1 {
    font-size: 30px;
    width: 500px;
    height: auto;
  }

  #Box p {
    font-size: 15px;
  }
}
