#CardSection4 {
  width: 416px;
  height: 517px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#CardSection4 img {
  width: 416px;
  height: 300px;
}

#infoCard {
  width: 368px;
  height: 145px;
  margin-bottom: 48px;
}

#infoCard h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #000000;
}

#infoCard span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 8px;
}

#infoCard div {
  width: 242px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#span1 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  background: #F4F4F4;
  padding: 4px;
}

#span {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #fe8c00;
  width: 72px;
  height: 21px;
}

#infoCard span img {
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 1001px) and (max-width: 1500px) {
  #CardSection4 {
    width: 314px;
    height: 400px;
  }

  #CardSection4 img {
    width: 100%;
  }

  #infoCard {
    width: 100%;
  }
}

@media screen and (min-width: 361px) and (max-width: 1000px) {
  .base {
    display: none;
  }

  #CardSection4 {
    width: 330px;

  }

  #CardSection4 img {
    width: 100%;
  }

  #infoCard {
    width: 100%;
  }
}

